@model MajaTours.Data.Entities.Category

@{
    ViewData["Title"] = "Eliminar";
}

<div class="container justify-content-center py-4">
    <h3>Borrar Categoría</h3>
    <h3>¿Estas seguro de querer borrar?</h3> 
    <div>
        <!-- LLAMA A LA VISTA PARCIAL _CategoryDetails -->
            <partial name="_CategoryDetails" />
        <!-- FIN --> 
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
        </form>
    </div>
</div>