@model MajaTours.Models.CreateProductViewModel

@{
    ViewData["Title"] = "Crear Producto";
   
}

<flash dismissable="true" />

<div class="container justify-content-center py-5 smfont">
    <h1>Crear Producto</h1>
    <form asp-action="Create">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateProduct"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-success">Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
