@charset "utf-8";


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*** Package ***/
.package-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
  transition: .5s;
}

.package-item:hover img {
  transform: scale(1.1);
}

/*Zoom images*/
.zoom {
  padding: 5px;
  background-color: transparent;
  transition: transform .2s;
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}
.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/* Estilo de Carrusel*/
.carousel-inner {
  width: auto;
  height: 500px;
  max-height: 500px !important;
}

.carousel-content {
  color: black;
  display: flex;
  text-align: center;
}

