@charset "utf-8";


@media (min-width: 568px) {
  html {
    font-size: 16px;
  }
}

/********** Template CSS **********/
:root {
  --primary: #86B817;
  --secondary: #FE8800;
  --light: #F5F5F5;
  --dark: #14141F;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../images/portada.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;

}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/*** Package ***/
.package-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
  transition: .5s;
}

.package-item:hover img {
  transform: scale(1.1);
}

/*Zoom images*/
.zoom {
  padding: 5px;
  background-color: transparent;
  transition: transform .2s;
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}
.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/* Estilo de Carrusel*/
.carousel-inner {
  width: auto;
  height: 500px;
  max-height: 500px !important;
}

.carousel-content {
  color: black;
  display: flex;
  text-align: center;
}

/* Estilo a carrito */
.showcart{
  position: relative;
  bottom: 666px;
  left: 600px;
  width: 100px;
  font-size: 20px;
}
.showcart a{
  color: #ffff;
}

